* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #4b74b1;
}

.header {
  background-color: #e605e6;
  text-align: center;
  height: 4rem;
  line-height: 4rem;
}
.header h1 {
  font-family: "Work Sans";
  color: #fff;
}
.title-row {
  margin-top: 42px;
  margin-bottom: 21px;
  text-align: center;
}

.instructions-title {
  display: inline;
  font-size: 25px;
  color: #adfdfd;
  font-family: "Work Sans";
}

.instructions-row {
  margin: 0 auto;
  width: 400px;
}

.instructions-number {
  padding-right: 25 px;
  font-family: "Work Sans";
  font-size: 25px;
  color: #adfdfd;
}

.instructions-text {
  padding: 10px;
  font-family: "Work Sans";
  font-size: 17px;
  color: #fff;
}

.door-row {
  text-align: center;
}

.door-frame {
  cursor: pointer;
  padding: 10px;
}

.start-row {
  margin: auto;
  width: 120px;
  height: 50px;
  font-family: "Work Sans";
  background-color: #e605e6;
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 12px;
}
